<header>
	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand" routerLink="home">
			<img src="favicon.ico" width="30" height="30" class="d-inline-block align-top">
			Vente2
		</a>
		<form class="form-inline">
			<input class="form-control mr-2" type="search" placeholder="Recherche" aria-label="Search">
			<button class="btn btn-light" type="submit">Rechercher</button>
		</form>
		<div>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link cartDiv" routerLink="cart">
						<i class="material-icons cartIcon"> shopping_cart </i>
						Panier
						<span *ngIf="count > 0" id="cartBadge" class="badge badge-primary cartBadge">{{count}}</span>
					</a>
				</li>	
			</ul>
		</div>
	</nav>
	<div *ngIf="cart" id="cartAlert" class="alert alert-info text-center">Vous avez des billets réservés. Il vous reste 20:00 pour confirmer votre commande.</div>
	<div id="errorAlert" class="alert alert-danger text-center d-none"></div>
</header>
