<header>
	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand" routerLink="home">
			<img src="favicon.ico" width="30" height="30" class="d-inline-block align-top">
			Vente2
		</a>
		<form [formGroup]="searchGroup" (ngSubmit)="onSearch()" class="form-inline search-bar">
			<div class="input-group search-bar-in">
				<input class="form-control" type="text" value="" placeholder="Rechercher" formControlName="search">
				<div class="input-group-append">
					<button type="submit" class="btn btn-light search-button">
						<i class="material-icons searchIcon">
							search
						</i>
					</button>
				</div>
			</div>
		</form>
		<div>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link cartDiv" routerLink="cart">
						<i class="material-icons cartIcon"> shopping_cart </i>
						Panier
						<span *ngIf="count > 0" id="cartBadge" class="badge badge-primary cartBadge">{{count}}</span>
					</a>
				</li>
			</ul>
		</div>
	</nav>
	<div *ngIf="remainingTime >= 0 && cart" id="cartAlert" class="alert alert-info text-center">Vous avez des billets
		réservés. Il vous reste {{remainingTime | minuteSeconds}} pour confirmer votre commande.</div>
	<div *ngIf='errorMessage != ""' id="errorAlert" class="alert alert-danger text-center">{{errorMessage}} <a class="closeLink" (click)="onCloseErrorClick()">(Fermer)</a></div>
</header>