<header>
	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand" routerLink="home">
			<img src="favicon.ico" width="30" height="30" class="d-inline-block align-top">
			Vente2
		</a>
		<form class="form-inline">
			<input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-light" type="submit">Search</button>
		</form>
		<div>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" routerLink="cart">
						<ion-icon name="cart"></ion-icon>
						Panier
					</a>
				</li>	
			</ul>
		</div>
	</nav>
</header>