<li class="list-group-item">
	<div class="container py-3">
		<div class="module-container">
			<h2>Utilisateur</h2>
			<span class="checkout-client-line">{{user.firstName}} {{user.name}}</span>
			<span class="checkout-client-line">{{user.civicAddress}}</span>
			<span class="checkout-client-line">{{user.city}}, {{user.province}}, {{user.postalCode}}</span>
		</div>

		<form [formGroup]="creditCardFormGroup" (ngSubmit)="onSubmit()">
			<h2> Informations sur la carte de crédit </h2>

			<div class="form-group">
				<label for="username">Prénom</label>
				<div class="input-group">
					<input type="text" class="form-control" formControlName="firstName" placeholder="" required="">
				</div>
			</div>
			<div *ngIf="creditCardFormGroup.controls['firstName'].invalid && (creditCardFormGroup.controls['firstName'].dirty || creditCardFormGroup.controls['firstName'].touched)"
				class="alert alert-danger">
				<div *ngIf="creditCardFormGroup.controls['firstName'].errors.required">
					Prénom est requis.
				</div>
				<div *ngIf="creditCardFormGroup.controls['firstName'].errors.minlength">
					Prénom est trop court.
				</div>
			</div>

			<div class="form-group">
				<label for="username">Nom</label>
				<div class="input-group">
					<input type="text" class="form-control" formControlName="name" placeholder="" required="">
				</div>
			</div>
			<div *ngIf="creditCardFormGroup.controls['name'].invalid && (creditCardFormGroup.controls['name'].dirty || creditCardFormGroup.controls['name'].touched)"
				class="alert alert-danger">
				<div *ngIf="creditCardFormGroup.controls['name'].errors.required">
					Nom est requis.
				</div>
				<div *ngIf="creditCardFormGroup.controls['name'].errors.minlength">
					Nom est trop court.
				</div>
			</div>

			<div class="form-group">
				<label for="cardNumber">Numéro de carte</label>
				<div class="input-group">
					<input class="form-control" formControlName="number" id="cc-number" type="tel" maxlength="19"
						autocomplete="cc-number" ccNumber>
				</div>
			</div>
			<div *ngIf="creditCardFormGroup.controls['number'].invalid && (creditCardFormGroup.controls['number'].dirty || creditCardFormGroup.controls['number'].touched)"
				class="alert alert-danger">
				<div *ngIf="creditCardFormGroup.controls['number'].errors.required">
					Number est requis.
				</div>
				<!--
				<div *ngIf="creditCardFormGroup.controls['number'].errors.ccNumber">
					Le numéro de carte de crédit est invalide.
				</div>
				-->
			</div>


			<div class="row">
				<div class="col-sm-8">
					<div class="form-group">
						<label><span class="hidden-xs">Expiration</span> </label>
						<div class="form-inline">
							<select class="form-control" formControlName="expirationMonth" style="width:45%" required>
								<option value="ll">MM</option>
								<option value="1">1 - Janvier</option>
								<option value="2">2 - Février</option>
								<option value="3">3 - Mars</option>
								<option value="4">4 - Avril</option>
								<option value="5">5 - Mai</option>
								<option value="6">6 - Juin</option>
								<option value="7">7 - Juillet</option>
								<option value="8">8 - Août</option>
								<option value="9">9 - Septembre</option>
								<option value="10">10 - Octobre</option>
								<option value="11">11 - Novembre</option>
								<option value="12">12 - Décembre</option>
							</select>


							<span style="width:10%; text-align: center"> </span>
							<select class="form-control" formControlName="expirationYear" style="width:45%" required>
								<option>YYYY</option>
								<option>2019</option>
								<option>2020</option>
								<option>2021</option>
								<option>2022</option>
								<option>2023</option>
								<option>2024</option>
								<option>2025</option>
								<option>2026</option>
								<option>2027</option>
								<option>2028</option>
								<option>2029</option>
								<option>2030</option>
							</select>

						</div>
					</div>
				</div>



				<div class="col-sm-4">
					<div class="form-group">
						<label data-toggle="tooltip" title=""
							data-original-title="3 digits code on back side of the card">CVV </label>
						<input class="form-control" formControlName="cvv" type="text" maxlength="4">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-4">
					<div *ngIf="creditCardFormGroup.controls['expirationMonth'].invalid && (creditCardFormGroup.controls['expirationMonth'].dirty || creditCardFormGroup.controls['expirationMonth'].touched)"
						class="alert alert-danger">
						<div *ngIf="creditCardFormGroup.controls['expirationMonth'].errors.required">
							Le mois d'expiration est requis.
						</div>
						<div *ngIf="creditCardFormGroup.controls['expirationMonth'].errors.pattern">
							Le mois d'expiration est invalide.
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div *ngIf="creditCardFormGroup.controls['expirationYear'].invalid && (creditCardFormGroup.controls['expirationYear'].dirty || creditCardFormGroup.controls['expirationYear'].touched)"
						class="alert alert-danger">
						<div *ngIf="creditCardFormGroup.controls['expirationYear'].errors.required">
							L'année d'expiration est requis.
						</div>
						<div *ngIf="creditCardFormGroup.controls['expirationYear'].errors.pattern">
							L'année d'expiration est invalide.
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div *ngIf="creditCardFormGroup.controls['cvv'].invalid && (creditCardFormGroup.controls['cvv'].dirty || creditCardFormGroup.controls['cvv'].touched)"
						class="alert alert-danger">
						<div *ngIf="creditCardFormGroup.controls['cvv'].errors.required">
							CVV est requis.
						</div>
						<div *ngIf="creditCardFormGroup.controls['cvv'].errors.minlength">
							Cvv doit être de longueur 3 minimum.
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<label class="col-lg-9"></label>
				<div class="col-lg-3">
					<input type="submit" class="btn btn-primary btn-lg btn-block" value="Confirmer">
					<div *ngIf="submitted && creditCardFormGroup.invalid" class="alert alert-danger">
						Veuillez vérifier vos entrées de champs.
					</div>
					<div *ngIf="errorMessage" class="alert alert-danger">
						{{errorMessage}}
					</div>
				</div>
			</div>
		</form>
	</div>
</li>