<p> Mis à jour: {{ lastUpdate | date}} </p>

<h2> Saisissez vos informations de crédit </h2>

<li class="list-group-item">

  <h4> Nom :  <input type="text" class="form-control" > </h4>  
  
  <h4> Numéro de carte de crédit : </h4>
  <input type="text" class="form-control" placeholder="Saisir numéro carte de crédit" >

  <h4> CVV : </h4>
  <input type="text" class="form-control">

  <h4> Expiration : </h4>
  <input type="text" class="form-control">
  
</li>s

<div class="container">
  <div class="row">
    <div class="col-xs-12">  
      <button class="btn btn-success" 
      routerLink="/home"
        (click)="onSoumettre"> Soumettre </button>
    </div>
  </div> 
</div>