
<h1 class="page-title">Sale Confirmation</h1>

<div class="global">
  <div class="module-container">
      <div class="confirmation-container">
      <p class="confirmation-message">
        Thank you for shopping on GTI525-vente2. The best online ticket retailer.
      </p>

      <p>
        Your confirmation number is : <span class="confirmation-number">{{confirmation.number}}</span>
      </p>

      <div *ngIf="social; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>Your ticket will be available on the mobile application and on the website.</ng-template>
      <ng-template #elseBlock>You will be able to retrieve the ticket the night of the show.</ng-template>
    </div>

  </div>
</div>  