<p> Mis à jour: {{ lastUpdate | date}} </p>

<h2> Vos informations </h2>

<li class="list-group-item">

  <h4> Nom : {{ client.name }} <input type="text" class="form-control" [(ngModel)]='nom_de_famille'> </h4>  
  
  <h4> Prénom : {{ client.firstName }}</h4>
  <input type="text" class="form-control" placeholder="Saisir prénom" [(ngModel)]='prenom'>

  <h4> Adresse : {{ adresses_civique }}</h4>
  <input type="text" class="form-control" [(ngModel)]='adresses_civique'>

  <h4> Ville : {{ ville }}</h4>
  <input type="text" class="form-control" [(ngModel)]='ville'>

  <h4> Province : {{ province }}</h4>
  <input type="text" class="form-control" [(ngModel)]='province'>

  <h4> Code postal : {{ code_postal }}</h4>
  <input type="text" class="form-control" [(ngModel)]='code_postal'> 
  
</li>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
  
      <button class="btn btn-success" 
        routerLink="/checkout-credit"
        (click)="onSoumettre"> Suivant </button>
    </div>
  </div> 
</div>