.pub {
    text-align: center;
    padding: 10px;
}

.crop {
    width: 500px;
    overflow: hidden;
}

.button-add {
    margin-top: 60px;
    text-align: center;
}

.event-title-padding{
    margin-bottom: 60px;
    padding-bottom: 25px;
}