.pub {
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 992px) {
    .crop {
        width: 600px;
        overflow: hidden;
    }
}

@media screen and (max-width: 600px) {
    .crop {
        width: 95vw;
        overflow: hidden;
    }
}

.button-add {
    margin-top: 60px;
    text-align: center;
}

.event-title-padding {
    margin-bottom: 60px;
    padding-bottom: 25px;
}