<h1>Show Detail</h1>
<div class="container">
  <div *ngIf="event!==undefined" class="row">
    <div class="col">
      <div>
        <img class="crop" src="{{event.image}}">
      </div>
    </div>
    <div class="col">
      <h2 class="h2-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4 event-title-padding">
        <strong>{{event.title}}</strong>
      </h2>
      <p class="ml-xl-0 ml-4">
        Artist: {{event.artist}}
      </p>
      <p class="ml-xl-0 ml-4">
        Date: {{event.dateEvent}}
      </p>
      <p class="ml-xl-0 ml-4">
        Description: {{event.description}}
      </p>
      <p class="ml-xl-0 ml-4">
        Venue: {{event.venue.name}}
      </p>
      <div class="ml-xl-0 ml-4">

        <p *ngIf="event.saleStatus==0" class="alert alert-danger">
          Sale Status: Not on sale
        </p>
        <p *ngIf="event.saleStatus==1">
          Sale Status: On sale
        </p>
        <p *ngIf="event.saleStatus==2" class="alert alert-danger">
          Sale Status: All tickets sold
        </p>
      </div>
      <div class="ml-xl-0 ml-4">
        <input (click)="onAddClick()" type="button" value="Ajouter au panier" class="btn btn-primary button-add" />
      </div>
    </div>
  </div>
</div>
<div id="horizontal-analytic-banner" class="pub"></div>