<section class="container">

	<p style="text-align:right">
		<font color="red"><a (click)="login()" style="font-size:20px">Se connecter</a></font>	
	</p>	

	<div *ngIf="events" class="row mt-4">
		<div *ngFor="let event of events" class="col-md-4">
			<div class="card mb-4 show-box" (click)="onShowClick(event)">
				<img class="card-img-top show-image" src="{{event.image}}">
				<div class="card-body">
					<h5 class="card-title">{{event.title}}</h5>
					<p class="card-text show-description">{{event.description}}</p>
					<div class="text-right"><small class="text-muted">{{event.artist}} - {{event.date | date}}</small></div>
				</div>
			</div>
		</div>
	</div>
</section>