<h1>
  Page d'administration -
  <a [routerLink]="['/login']">Déconnexion</a>
</h1>
<p>Page dédiée à la gestion des vignettes de spectacles.</p>
<!-- <div>
  Utilisateurs autorisés du point d'accès à l'API sécurisé:
  <ul>
    <font color="green"
      ><li *ngFor="let user of users">
        {{ user.firstName }} {{ user.lastName }}
      </li></font
    >
  </ul>
</div> -->

<div class="module-container">
  <h2 style="text-align:center">Liste des images de spectacles</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Aperçu vignette</th>
        <th scope="col">Titre spectacle</th>
        <th scope="col">Url</th>
        <th scope="col">Chercher un fichier</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let spectacle of events; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <img class="card-img-top show-image" src="{{ spectacle.image }}" />
        </td>
        <td>{{ spectacle.title }}</td>
        <td>
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="urlIMG" id="urlIMG_{{spectacle.id}}" (keydown)="onKey($event)"
              placeholder="Entrez l'url de la nouvelle image" aria-label="lienImage" aria-describedby="basic-addon2" />
            <div class="input-group-append">
              <input type="button" class="btn btn-primary" value="Modifier l'image"
                (click)="updateEvent(spectacle.id, 'urlIMG_'+ spectacle.id)" />
            </div>
          </div>
        </td>
        <td>
          <div class="custom-file">
            <input type="file" class="custom-file-input" (change)="onFileChanged($event, spectacle.id)"
              id="customFile_{{spectacle.id}}" name="myImage" value="téléverser">
            <label class="custom-file-label" for="customFile_{{spectacle.id}}">Choisir une fichier
              d'image...</label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>